{% extends "base.html" %}
{% block contents %}
<div id="content">
    <p class="heading1">Barocert Service Django Example.</p>
    <br />
    <fieldset class="fieldset1">
        <legend>{{ request.path }}</legend>
        <ul>
            <li>ClientCode (이용기관 코드) : {{ result.clientCode }}</li>
            <li>ReceiptID (접수 아이디) : {{ result.receiptID }}</li>
            <li>State (상태) : {{ result.state }}</li>
            <li>RequestDT (서명요청일시) : {{ result.requestDT }}</li>
            <li>CompleteDT (서명완료일시) : {{ result.completeDT }}</li>
            <li>ExpireDT (서명만료일시) : {{ result.expireDT }}</li>
            <li>RejectDT (서명거절일시) : {{ result.rejectDT }}</li>
        </ul>
    </fieldset>
</div>
{% endblock contents %}