{% extends "base.html" %}
{% block contents %}
<div id="content">
    <p class="heading1">Barocert Service Django Example.</p>
    <br />
    <fieldset class="fieldset1">
        <legend>{{ request.path }}</legend>
        <ul>
            <li>ReceiptID (접수 아이디) : {{ result.receiptID }}</li>
            <li>State (상태) : {{ result.state }}</li>
            <li>ReceiverName (수신자 성명) : {{ result.receiverName }}</li>
            <li>ReceiverYear (수신자 출생년도) : {{ result.receiverYear }}</li>
            <li>ReceiverDay (수신자 출생월일) : {{ result.receiverDay }}</li>
            <li>ReceiverGender (수신자 성별) : {{ result.receiverGender }}</li>
            <li>ReceiverForeign (외국인 여부) : {{ result.receiverForeign }}</li>
            <li>ReceiverTelcoType (통신사 유형) : {{ result.receiverTelcoType }}</li>
            <li>SignedData (전자서명 데이터 전문) : {{ result.signedData }}</li>
            <li>Ci (연계정보) : {{ result.ci }}</li>
        </ul>
    </fieldset>
</div>
{% endblock contents %}