{% extends "base.html" %}
{% block contents %}
<div id="content">
    <p class="heading1">Barocert Django Example</p>
    <br />
    <fieldset class="fieldset1">
        <legend>{{ request.path }}</legend>
        <ul>
            <li>txID (트랜잭션 아이디) : {{ result.txID }}</li>
            <li>State (상태) : {{ result.state }}</li>
            <li>SignedData (전자서명 데이터 전문) : {{ result.signedData }}</li>
            <li>Ci (연계정보) : {{ result.ci }}</li>
            <li>ReceiverName (수신자 성명) : {{ result.receiverName }}</li>
            <li>ReceiverYear (수신자 출생년도) : {{ result.receiverYear }}</li>
            <li>ReceiverDay (수신자 출생월일) : {{ result.receiverDay }}</li>
            <li>ReceiverHP (수신자 휴대폰번호) : {{ result.receiverHP }}</li>
            <li>ReceiverGender (수신자 성별) : {{ result.receiverGender }}</li>
        </ul>
    </fieldset>
</div>
{% endblock contents %}