{% extends "base.html" %}
{% block contents %}
<div id="content">
    <p class="heading1">Barocert Service Django Example.</p>
    <br />
    <fieldset class="fieldset1">
        <legend>{{ request.path }}</legend>
        <ul>
            <li>ReceiptID (접수 아이디) : {{ result.receiptID }}</li>
            <li>State (상태) : {{ result.state }}</li>
            <li>SignedData (전자서명 데이터 전문) : {{ result.signedData }}</li>
            <li>Ci (연계정보) : {{ result.ci }}</li>
        </ul>
    </fieldset>
</div>
{% endblock contents %}