{% extends "base.html" %}
{% block contents %}
<div id="content">
    <p class="heading1">Barocert Django Example</p>
    <br />
    <fieldset class="fieldset1">
        <legend>{{ request.path }}</legend>
        <ul>
            <li>ReceiptID (접수 아이디) : {{ result.receiptID }}</li>
            <li>ClientCode (이용기관 코드) : {{ result.clientCode }}</li>
            <li>State (상태) : {{ result.state }}</li>
            <li>ExpireDT (서명만료일시) : {{ result.expireDT }}</li>
        </ul>
    </fieldset>
</div>
{% endblock contents %}